.card.mb-3 {
    margin-bottom: $grid-gutter-width !important;
}

// Loaders wrapper

.loader-wrapper {
    width: 150px;
    height: 100px;
    float: left;
}

.feeder-pillar-modal-height {
    height: 650px;
}